{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <h3 class="mb-0">{{ user.username }}님의 프로필</h3>
        </div>
        <div class="card-body p-4">
          <div class="row mb-4">
            <div class="col-md-6">
              <h4 class="text-secondary mb-3">기본 정보</h4>
              <table class="table table-borderless">
                <tr>
                  <th scope="row">아이디</th>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <th scope="row">이메일</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th scope="row">전화번호</th>
                  <td>{{ user.phone }}</td>
                </tr>
                <tr>
                  <th scope="row">성별</th>
                  <td>{{ user.get_gender_display }}</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <h4 class="text-secondary mb-3">추가 정보</h4>
              <table class="table table-borderless">
                <tr>
                  <th scope="row">생년월일</th>
                  <td>{{ user.birth_year }}년 {{ user.birth_month }}월 {{ user.birth_day }}일</td>
                </tr>
                <tr>
                  <th scope="row">주소</th>
                  <td>{{ user.address }}</td>
                </tr>
                <tr>
                  <th scope="row">포인트</th>
                  <td>{{ user.point }} P</td>
                </tr>
                <tr>
                  <th scope="row">가입일</th>
                  <td>{{ user.date_joined|date:"Y년 m월 d일" }}</td>
                </tr>
              </table>
            </div>
          </div>
          
          <div class="d-flex justify-content-end">
            <a href="{% url 'accounts:profile_update' %}" class="btn btn-dark me-2">
              <i class="fas fa-user-edit"></i> 정보 수정
            </a>
            <a href="{% url 'accounts:delete_account' %}" class="btn btn-outline-danger">
              <i class="fas fa-user-times"></i> 회원 탈퇴
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}